html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $themeGrey transparent;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $themeGrey;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: $themeGrey;
}

.App {
  .main {
    margin-top: 70px;
  }
}